@page "/contacts"

<div class="header">
    <button class="btn-plus">+</button>
    <h1>Contacts</h1>
</div>
<div class="container">
    <NavLink href="contactsPage/Nurseries">
        <div class="card">
            <img class="card-img-top" src="../images/nurseries.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nurseries</h5>
            </div>
        </div>
    </NavLink>
    <NavLink href="contactsPage/Transport">
        <div class="card">
            <img class="card-img-top" src="../images/transport.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Transport</h5>
            </div>
        </div>
    </NavLink>
    <NavLink href="contactsPage/Manufacture">
        <div class="card">
            <img class="card-img-top" src="../images/manufacture.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Manufacture</h5>
            </div>
        </div>
    </NavLink>
    <NavLink href="contactsPage/Colleagues">
        <div class="card">
            <img class="card-img-top" src="../images/colleagues.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Colleagues</h5>
            </div>
        </div>
    </NavLink>
</div>

@code {
}

<style>
    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f8f9fa;
    }

    .btn-plus {
        position: absolute;
        left: 20px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-size: 24px;
        background-color: darkolivegreen;
        color: white;
        border: none;
        cursor: pointer;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        padding: 20px;
    }

    .card {
        width: 18rem;
        text-decoration: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

        .card img {
            width: 100%;
            height: auto;
        }

    .card-body {
        padding: 10px;
        text-align: center;
    }

    .card-title {
        margin: 0;
        font-size: 1.25rem;
        color: #333;
    }

    .card a {
        text-decoration: none;
        color: black;
    }

        .card a:hover {
            text-decoration: none;
            color: black;
        }
</style>
