@page "/contactsPage/{contactsCategory}"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Entities
@inject NavigationManager Navigation

<div class="header">
    <div style="flex: 1">
        <button @onclick="GoBack" class="back-button"><img src="../images/back.png" /></button>
    </div>
    <h1>@contactsCategory</h1>
    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <button class="add-button"><img src="../images/add.png" /></button>
    </div>
</div>

<SfGrid DataSource="@contactsViewModel.Contacts" />

@code {
    [Parameter]
    public string contactsCategory { get; set; }

    ContactsViewModel contactsViewModel;

    protected override void OnInitialized()
    {
        contactsViewModel = new ContactsViewModel(contactsCategory);
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/contacts");
    }
}

<style>

    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f8f9fa;
    }
</style>