@page "/contacts"
@inject NavigationManager Navigation

<div class="header">
    <div style="flex: 1">
        <button @onclick="GoBack" class="back-button"><img src="../images/back.png" /></button>
    </div>
    <h1>Contacts</h1>
    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <button class="add-button"><img src="../images/add.png" /></button>
    </div>
</div>
<div class="container">
    <NavLink href="contactsPage/Nurseries">
        <div class="card">
            <img class="card-img-top" src="../images/nurseries.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nurseries</h5>
            </div>
        </div>
    </NavLink>
    <NavLink href="contactsPage/Transport">
        <div class="card">
            <img class="card-img-top" src="../images/transport.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Transport</h5>
            </div>
        </div>
    </NavLink>
    <NavLink href="contactsPage/Manufacture">
        <div class="card">
            <img class="card-img-top" src="../images/manufacture.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Manufacture</h5>
            </div>
        </div>
    </NavLink>
    <NavLink href="contactsPage/Colleagues">
        <div class="card">
            <img class="card-img-top" src="../images/colleagues.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Colleagues</h5>
            </div>
        </div>
    </NavLink>
</div>

@code {
    private void GoBack()
    {
        Navigation.NavigateTo($"/");
    }
}

<style>

    

    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f8f9fa;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        padding: 20px;
    }

    .card {
        width: 100%;
        text-decoration: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

        .card img {
            width: 100%;
            height: auto;
        }

    .card-body {
        padding: 10px;
        text-align: center;
    }

    .card-title {
        margin: 0;
        font-size: 1.25rem;
        color: #333;
    }

    .card a {
        text-decoration: none;
        color: black;
    }

        .card a:hover {
            text-decoration: none;
            color: black;
        }
</style>
