@page "/projects"
@using System.ComponentModel
@using System.Collections.ObjectModel
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Access
@using augalinga.Data.Entities

<div class="header">
    <button class="btn-plus">+</button>
    <h1>Projects</h1>
</div>
<div class="container">
    @foreach (Project project in viewModel.Projects)
    {
        <NavLink href="@($"projectMenu/{project.Name}")">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../images/calendar_background.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@project.Name</h5>
                </div>
            </div>
        </NavLink>
    }
</div>

@code {
    ProjectsViewModel viewModel = new ProjectsViewModel();
}

<style>
    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f8f9fa;
    }

    .btn-plus {
        position: absolute;
        left: 20px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-size: 24px;
        background-color: darkolivegreen;
        color: white;
        border: none;
        cursor: pointer;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .card {
        margin: 20px;
        text-decoration: none
    }

    .card-title {
        text-decoration: none;
        padding: 10px;
    }

    .card a {
        text-decoration: none;
        color: inherit;
    }

        .card a:hover {
            text-decoration: none;
            color: inherit;
        }
</style>

