@page "/projectPhotos/{projectName}"


@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Entities
@inject NavigationManager Navigation

<div class="header">
    <button @onclick="GoBack" class="back-button">Back</button>
    <h1>@projectName Photos</h1>
</div>

<SfGrid DataSource="@photosViewModel.Photos" AllowPaging="true">
</SfGrid>

@code {
    [Parameter]
    public string projectName { get; set; }

    PhotosViewModel photosViewModel;

    protected override void OnInitialized()
    {
        photosViewModel = new PhotosViewModel(projectName, "after"); //for now
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/projectMenu/{projectName}");
    }
}

<style>
    .back-button {
        background-color: #518478;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .back-button:hover {
        background-color: #405955;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
</style>