@page "/projectContacts/{projectName}"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Entities
@inject NavigationManager Navigation

<div class="header">
    <div style="flex: 1">
        <button @onclick="GoBack" class="back-button"><img src="../images/back.png" /></button>
    </div>
    <h1>@projectName Contacts</h1>
    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <button class="add-button"><img src="../images/add.png" /></button>
    </div>
</div>

<SfGrid DataSource="@contactsViewModel.Contacts" AllowPaging="true" AllowFiltering="true">
    <GridColumns>
        <GridColumn Field=@nameof(Contact.Name) HeaderText="Name" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Contact.Number) HeaderText="Number" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Contact.Address) HeaderText="Address" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Contact.Notes) HeaderText="Notes" Width="120"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    [Parameter]
    public string projectName { get; set; }

    ContactsViewModel contactsViewModel;

    protected override void OnInitialized()
    {
        contactsViewModel = new ContactsViewModel(projectName);
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/projectMenu/{projectName}");
    }
}

<style>

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
</style>