@page "/projects"
@using System.ComponentModel
@using System.Collections.ObjectModel
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Access
@using augalinga.Data.Entities

<style>
    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f8f9fa;
    }

    .btn-plus {
        position: absolute;
        left: 20px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-size: 24px;
        background-color: darkolivegreen;
        color: white;
        border: none;
        cursor: pointer;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .project-button {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 10px 20px;
        padding: 40px;
        background-color: #518478; 
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

        .project-button:hover {
            background-color: #405955;
            color: white;
        }
</style>

<div class="header">
    <button class="btn-plus">+</button>
    <h1>Projects</h1>
</div>
<div class="container">
    @foreach (Project project in viewModel.Projects)
    {
        <NavLink class="project-button" href="@($"projectMenu/{project.Name}")">
            @project.Name
        </NavLink>
    }
</div>

@code {
    ProjectsViewModel viewModel = new ProjectsViewModel();
}