@page "/projectPhotos/{projectName}"


@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Entities
@inject NavigationManager Navigation

<div class="header">
    <div style="flex: 1">
        <button @onclick="GoBack" class="back-button"><img src="../images/back.png" /></button>
    </div>
    <h1>@projectName Photos</h1>
    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <button class="add-button"><img src="../images/add.png" /></button>
    </div>
</div>

<SfGrid DataSource="@photosViewModel.Photos" AllowPaging="true">
</SfGrid>

@code {
    [Parameter]
    public string projectName { get; set; }

    PhotosViewModel photosViewModel;

    protected override void OnInitialized()
    {
        photosViewModel = new PhotosViewModel(projectName, "after"); //for now
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/projectMenu/{projectName}");
    }
}

<style>
</style>