@page "/projectDrafts/{projectName}"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Entities
@inject NavigationManager Navigation

<div class="header">
    <button @onclick="GoBack" class="back-button">Back</button>
    <h1>@projectName Drafts</h1>
    <button class="add-button" data-toggle="modal" data-target="#exampleModalLong">Add</button>
</div>

<SfGrid DataSource="@draftsViewModel.Drafts" AllowPaging="true">
</SfGrid>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string projectName { get; set; }

    DraftsViewModel draftsViewModel;

    protected override void OnInitialized()
    {
        draftsViewModel = new DraftsViewModel(projectName);
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/projectMenu/{projectName}");
    }
}

<style>
    .back-button {
        background-color: #518478;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .back-button:hover {
        background-color: #405955;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
</style>