@page "/projects"
@using System.ComponentModel
@using System.Collections.ObjectModel
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Access
@using augalinga.Data.Entities
@inject NavigationManager Navigation
@inject IJSRuntime JS

<div class="header">
    <div style="flex: 1">
        <button @onclick="GoBack" class="back-button"><i class="bi bi-arrow-left h2"></i></button>
    </div>
    <h1>Projects</h1>
    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <button class="add-button" @onclick="OpenModal"><i class="bi bi-plus-lg h2"></i></button>
    </div>
</div>
<div class="container">
    @foreach (Project project in viewModel.Projects)
    {
        <NavLink href="@($"projectMenu/{project.Id}")" style="text-decoration: none;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../images/calendar_background.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@project.Name</h5>
                </div>
            </div>
        </NavLink>
    }
</div>

<div class="modal show" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideModal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="expenseName">Project name:</label>
                            <input type="text" class="form-control" id="expenseName" @bind="project.Name" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="AddProject">Submit</button>
            </div>
        </div>
    </div>
</div>

@code {
    ProjectsViewModel viewModel = new ProjectsViewModel();
    Project project = new Project();
    private DataContext dbContext { get; set; } = new DataContext();

    private void GoBack()
    {
        Navigation.NavigateTo($"/");
    }

    public async Task OpenModal()
    {
        await JS.InvokeVoidAsync("showModal");
    }

    private async Task AddProject()
    {
        dbContext.Projects.Add(project);
        await dbContext.SaveChangesAsync();
        viewModel.Projects.Add(project);

        await HideModal();
    }

    public async Task HideModal()
    {
        await JS.InvokeVoidAsync("hideModal");
    }
}

<style>
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .card {
        margin: 10px;
        text-decoration: none;
        color: black;
        transition: transform 0.3s ease;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-title {
        padding: 10px;
        font-size: 2rem;
        text-align: center;
        color: black;
    }

    .card a {
        text-decoration: none;
        color: black;
    }

        .card a:hover {
            text-decoration: none;
            color: black;
        }

    .card h5 {
        text-decoration: none;
        color: black;
    }

    .card a:link .card-title,
    .card a:visited .card-title,
    .card a:hover .card-title,
    .card a:active .card-title {
        text-decoration: none;
        color: black;
    }
</style>

<script>
    window.showModal = () => {
        const modal = document.querySelector('.modal');
        if (modal) {
            modal.style.display = 'block';
        }
    };

    window.hideModal = () => {
        const modal = document.querySelector('.modal');
        if (modal) {
            modal.style.display = 'none';
        }
    };
</script>
