@page "/projects"
@using System.ComponentModel
@using System.Collections.ObjectModel
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Access
@using augalinga.Data.Entities
@inject NavigationManager Navigation

<div class="header">
    <div style="flex: 1">
        <button @onclick="GoBack" class="back-button"><img src="../images/back.png" /></button>
    </div>
    <h1>Projects</h1>
    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <button class="add-button"><img src="../images/add.png" /></button>
    </div>
</div>
<div class="container">
    @foreach (Project project in viewModel.Projects)
    {
        <NavLink href="@($"projectMenu/{project.Name}")">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../images/calendar_background.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@project.Name</h5>
                </div>
            </div>
        </NavLink>
    }
</div>

@code {
    ProjectsViewModel viewModel = new ProjectsViewModel();

    private void GoBack()
    {
        Navigation.NavigateTo($"/");
    }
}

<style>
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .card {
        margin: 20px;
        text-decoration: none
    }

    .card-title {
        text-decoration: none;
        padding: 10px;
    }

    .card a {
        text-decoration: none;
        color: inherit;
    }

        .card a:hover {
            text-decoration: none;
            color: inherit;
        }

        .card h5 {
            text-decoration: none;
            color: inherit
        }
</style>

