@page "/projectOrders/{projectName}"


@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using augalinga.ApplicationLayer.Components.ViewModels
@using augalinga.Data.Entities
@inject NavigationManager Navigation

<div class="header">
    <div style="flex: 1">
        <button @onclick="GoBack" class="back-button"><img src="../images/back.png" /></button>
    </div>
    <h1>@projectName Orders</h1>
    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <button class="add-button"><img src="../images/add.png" /></button>
    </div>
</div>

<SfGrid DataSource="@ordersViewModel.Orders" AllowPaging="true">
</SfGrid>

@code {
    [Parameter]
    public string projectName { get; set; }

    OrdersViewModel ordersViewModel;

    protected override void OnInitialized()
    {
        ordersViewModel = new OrdersViewModel(projectName);
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/projectMenu/{projectName}");
    }
}

<style>
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
</style>