    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid navbar-fluid">
            <a class="navbar-brand" href="">
                <!--<img src="../images/logo2.png" alt="Logo" />-->
                AUGALINGA
            </a>
        </div>
    </div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-calendar-date-fill h3"></span><div class="navbar-title">Calendar</div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="bi bi-person-lines-fill h3" aria-hidden="true"></span><div class="navbar-title"> Contacts</div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="bi bi-list-task h3" aria-hidden="true"></span><div class="navbar-title"> Projects</div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notifications">
                <span class="bi bi-bell h3" aria-hidden="true"></span><div class="navbar-title"> Notifications</div>
            </NavLink>
        </div>
    </nav>
    <div class="nav-image-container">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="bi bi-gear-fill h3"></span><div class="navbar-title">Admin</div>
            </NavLink>
        </div>
    </div>
</div>
